.form {
    margin-left: 156px;
    margin-top: 38px;
}

.form>label {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.form>label>input {
    display: flex;
    gap: 8px;
    width: 344px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #808080;
    margin-bottom: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    padding-left: 16px;
}

.form>label>input:hover {
    border: 1px solid #000;
}

.form>label>input:focus {
    border: 1px solid #4e75ff;
}

fieldset {
    width: 360px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #808080;
    margin-bottom: 24px;
    display: inline-flex;
    align-items: flex-start;
    gap: 48px;
    color: #2e2f42;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 1.5;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

fieldset:hover {
    border: 1px solid #000;
}

button {
    display: flex;
    width: 360px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #4e75ff;
    border: none;
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

button:hover {
    background: #6c8cff;
}

.button-start {
    margin-top: 36px;
    margin-left: 156;
}